@using OnlineTrading.Web.Models.User
@model List<UserListViewModel>

@{
    ViewData["Title"] = "All Users";
}

<h2>All Users</h2>

<div class="mb-3">
    <a asp-controller="Account" asp-action="Register" class="btn btn-success">Register New User</a>
</div>

@if (Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Full name</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.FullName</td>
                    <td>@user.Role</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No users found.</p>
}

